<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
          integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
          integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title></title>
  <style>
    .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}
    </style>
</head>
<body style="background-color: Silver;">
<div th:replace="fragments/navbar :: navbar_html"></div>
<div class="container">
  <div th:replace="fragments/message :: message_html"></div>
</div>
<div class="container">
  <h1>Create  Order</h1>
  <hr>
  <form th:action="@{/purchase}" th:object="${purchase}" method="POST">
  <div class="row auto-align">
    <div class="col-3">
      <label for="invDate">InvoiceDate</label>
      <input id="invDate" name="invDate" class="form-control" type="date" th:min="${dateTime}" placeholder="dd/mm/yyyy">
    </div>
    <div class="col-3">
      <label for="supplierName">supplierName</label>
      <select id="supplierName" class="form-control" name="supplierName">
        <option> --- Select Supplier Name ---</option>
        <option th:each="i : ${supplier}" th:value="${i.supplierCode}"><span th:text="${i.supplierName}"></span> - <span
                th:text="${i.supplierCode}"></span></option>
      </select>
    </div>
    <div class="col-2">
      <label for="quantity">Quantity In KG's</label>
      <input
              type="text"
              name="quantity"
              id="quantity"
              th:field="*{quantity}"
              class="form-control"
      />
    </div>
    <div class="col-2">
      <label for="fatP">Fat</label>
      <input
              type="text"
              name="fatP"
              id="fatP"
              th:field="*{fatP}"
              class="form-control"
      />
    </div>
    <div class="col-2">
      <label for="snfP">Snf</label>
      <input
              type="text"
              name="snfP"
              id="snfP"
              th:field="*{snfP}"
              class="form-control"
      />
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-2">
      <label for="tsRate">TsRate</label>
      <input
              type="text"
              name="tsRate"
              id="tsRate"
              th:field="*{tsRate}"
              class="form-control"

      />
    </div>
    <div class="col-2">
      <label for="milkType">Milk Type</label>
      <select id="milkType" class="form-control" name="milkType" >
        <option>CM</option>
        <option>BM</option>
      </select>
    </div>
    <div class="col-3">
      <label for="paymentStatus">Payment Status</label>
      <select id="paymentStatus" class="form-control" name="paymentStatus" >
        <option value="">-- SELECT --</option>
        <option value="Received">Received</option>
        <option value="Pending">Pending</option>
        <option value="Invoice Not Sent">Invoice Not Sent</option>
      </select>
    </div>
    <div id="hide">
    <div class="col-3">
      <label for="bankName">BankName</label>
      <select id="bankName" class="form-control" name="bankName" >
      <option th:each="i : ${bank}" th:value="${i.bankName}"><span th:text="${i.bankName}"></span></option>
      </select>
    </div>
    </div>
  </div>
  </form>
  <br>
  <button id="addPurchase" name ="addPurchase" class="btn btn-primary">Add Supplier</button>
    <button id="submit" class="btn btn-primary">Submit</button>

</div>

<div class="container">
  <table class="table" id="purchaseTable">
    <thead>
    <tr>
      <th scope="col">Supplier</th>
      <th scope="col">Quantity</th>
      <th scope="col">Fat</th>
      <th scope="col">Snf</th>
      <th scope="col">tsRate</th>
      <th scope="col">Milk Type</th>
    </tr>
    </thead>
    <tbody>
    </tbody >
  </table>
</div>
</body>
<script>
$(document).ready(function() {
  $('#invDate').val(new Date().toISOString().slice(0, 10));
$("#hide").hide();
});



    // add prod start
$('#addPurchase').click(function() {
var supplierName= $("#supplierName").val();
 alert(supplierName);
var quantity= $("#quantity").val();
// alert(quantity);
var fatP= $("#fatP").val();
//alert(fatP);
 var snfP = $("#snfP").val();
 //alert(snfP);
var tsRate= $("#tsRate").val();
//alert(tsRate);
var milkType= $("#milkType").val();
//alert(milkType);
$("#purchaseTable").append('<tr><td>'+supplierName+'</td><td>'+quantity+'</td><td>'+fatP+'</td><td>'+snfP+'</td><td>'+tsRate+'</td><td>'+milkType+'</td></tr>');
    });
    // add prod end

</script>
<script>
$('#submit').click(function() {
//alert($("#recDate").val());
//alert($("#supplierName").val());
//alert($("#vehicleNo").val());
//alert($("#snfP").val());
//alert($("#fatP").val());
//alert($("#quantity").val());
//alert($("#tsRate").val());
//alert($("#milkType").val());
//alert($("#paymentStatus").val());
alert($("#bankName").val());
var invDate = $("#invDate").val();
var supplierName=$("#supplierName").val();
var vehicleNo= $("#vehicleNo").val();
var snfP = $("#snfP").val();
var fatP= $("#fatP").val();
var quantity=$("#quantity").val();
var tsRate= $("#tsRate").val();
var milkType= $("#milkType").val();
var paymentStatus= $("#paymentStatus").val();
var bankName =$("#bankName").val();
$.ajax({
'async': false,
 type: 'POST',
url: '/purchase',

        data: {
                "supplierName":supplierName,
                "invDate": invDate,
                "quantity":quantity,
                "snfP":snfP,
                "fatP":fatP,
                "tsRate":tsRate,
                "milkType":milkType,
                "paymentStatus":paymentStatus,
                "bankName":bankName
            },
            success: function(data) {
alert("Data Saved Successfully !!!");
window.location.replace ("/purchase");
}
});
});
</script>
<script>
$('#paymentStatus').change(function () {
var paymentStatus= $("#paymentStatus").val();
alert(paymentStatus);
    if(paymentStatus=='Received'){
    $("#hide").show();
   }
   else{
$("#hide").hide();
     }
     });





<!--$('#paymentStatus').change(function () {-->
<!--    var paymentStatus = $(paymentStatus).val();-->
<!--    alert(paymentStatus);-->
<!--    if (paymentStatus == "pending") {-->
<!--        $("#bankName option[value=HDFC]").attr('disabled', disabled);-->
<!--        $("#bankName option[value=Federal Bank]").attr('disabled', disabled);-->
<!--        $("#bankName option[value=State Bank of India]").prop('disabled', disabled);-->

<!--    }-->
<!--    if (paymentStatus == "B") {-->
<!--        $("#SecondDropDown option[value=A1]").attr('disabled', 'disabled');-->
<!--        $("#SecondDropDown option[value=A2]").attr('disabled', 'disabled');-->
<!--        $("#SecondDropDown option[value=A3]").attr('disabled', 'disabled');-->
<!--        $("#SecondDropDown option[value=B1]").prop('disabled', false);-->
<!--        $("#SecondDropDown option[value=B2]").prop('disabled', false);-->
<!--    }-->
<!--});-->
<!--</script>-->
</html>